Pods/*
GastownEats.sketch
Icons/*
FinalProject/Assets.xcassets/AppIcon.appiconset/Icon.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_20pt.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_20pt@2x-1.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_20pt@2x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_20pt@3x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_29pt.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_29pt@2x-1.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_29pt@2x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_29pt@3x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_40pt.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_40pt@2x-1.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_40pt@2x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_40pt@3x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_60pt@2x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_60pt@3x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_76pt.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_76pt@2x.png
FinalProject/Assets.xcassets/AppIcon.appiconset/icon_83.5@2x.png
Podfile.lock
FinalProject 2018-05-10 18-52-24/
Gastown App Store Screenshots/
GastownEatsInstructions.png
Image-1.jpg
Simulator Screen Shot - iPhone 6 Plus - 2018-05-10 at 12.58.38.png
Simulator Screen Shot - iPhone 6 Plus - 2018-05-10 at 13.05.47.png
Simulator Screen Shot - iPhone 6 Plus - 2018-05-10 at 13.08.26.png
Simulator Screen Shot - iPhone 6 Plus - 2018-05-10 at 13.13.52.png
